.title {
  font-size: 75px;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: -250px;
  transform: rotate(-90deg);
  font-size: 55px;
  @media (max-width: $tablet-pro){
   left: -200px;
  }
  @media (max-width: $mobile){
    top: 40%;
  }
}

.aside-section {
  position: relative;
  width: 35%;
  background-color: $bg-black;
  @include place(column, center, center);
  align-items: center;
  padding: 20px;
  color: $col-lg-green;
  @media (max-width: $tablet-pro){
    width: 100vw;
    height: 110vh;
  }
  @media (max-width: $mobile){
    @include place(column, start, center);
  }
}

.img-container {
  @include place(row, center, center);
  margin-top: 40px;
}

.my-photo {
  border-radius: 100%;
}