.project-section{
  position: relative;
  max-width: 950px;
  overflow: hidden;
  z-index: 1;
  &.section {
    margin-top: 20px;
  }
}

.projects-container {
  margin-top: 20px;
  @include place(row, start, start);
  transition: $trn;
}

.project_card-wrapper {
  @include place(row, center, center);
  overflow: hidden;
}

.project_card-container {
  width: 50%;
  height: 400px;
  background-color: #ffffff4f;
  @include place(column, start, start);
  align-items: center;
  margin: 0 10px;
  padding-top: 10px;
  transition: $trn;
  &:hover {
    transform: scale(1.3);
  }
}

.arrow-wrapper {
  position: absolute;
  top: 30%;
  width: 100%;
  @include place(row, space-between, center);
  z-index: 3;
}

.arrow {
  width: 100px;
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    fill: #62988af8;
  }
}

.arrow-left {
  left: 0;
  transform: rotate(180deg);
}

.arrow-right {
  right: 0;
}

.disabled {
  width: 10px;
}