@import "./sass/nullstyle.scss";
@import "./sass/mixins.scss";
@import "./sass/nav.scss";
@import "./sass/contacts.scss";
@import "./sass/aside.scss";
@import "./sass/range.scss";
@import "./sass/project-section.scss";
@import "./sass/skills.scss";
@import "./sass/education.scss";

body {
  width: 100%;
  height: 100%;
  background: $main-col;
  color: $main-text-col;
  @include fontz(22px, 400);
  align-content: center;
}

.wrapper-container {
  background: $bg-black;
}

.main-section {
 height: 90vh;
 width: 100%;
 @include place(row,center,center);
 padding: 20px;
}

.main-content_section {
  width: 65%;
  border-radius: 65px 65px 0 180px;
  background: $main-col;
  box-shadow: -15px 1px 20px 0px #168165;
  margin-left: 40px;
}

.section {
  margin: 40px 40px 0 40px;
}

.section h3 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: #1b443c;
}

.section ul li {
  line-height: 1.5;
  color: #fbfbfb;
  font-weight: 600;
}

.none{
  display: none;
}

.about_me-text {
  margin: 40px;
  color: #342e3c;
  font-weight: 600;
}